<!DOCTYPE html>
<html>
    <head><link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" /><link href="./main.css" rel="stylesheet" />
        <title>Document</title><link href="../CSS/StyleSheet3.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
    <div id="page-container">

        <div class="header">  <!--사이트 제목 칸-->
            <div class="v40_431"></div>
            <span class="v40_430">sunshine 특강 출결 사이트</span>
        </div>

        <div id="page-container2">
            <div class="v40_411">
                <div class="v40_415"> <!--특강 검색 칸-->
                    <div class="v40_445" onclick="location.href='./staff_attendancelist.html'"> <!--네모 1-->
                        <table class="lecture_list">
                            <tbody>
                              <tr>
                                <td>2021-10-22</td>
                                <td>IP & BIZ 특강_특허정보검색</td>
                                <td>38 / 40</td>
                              </tr>
                            </tbody>
                        </table>
                        <!-- <span class="v40_455">38 / 40</span>
                        <span class="v40_448">IP & BIZ 특강_특허정보검색</span>
                        <span class="v40_452">2</span>
                        <span class="v40_453">2021 10-22</span> -->
                    </div>
                    <div class="v40_446"></div> <!--네모 2-->
                    <div class="v40_447" onclick="location.href='./staff_attendancelist.html'"></div> <!--네모 3-->
                </div>
                <div class="v40_425"> <!--관리자 정보 칸-->
                    <div class="v41_230">
                        <div class="v41_232"></div>
                        <a href= "./staff_lecturelist.html"><span class="v41_231">특강 목록</span></a>
                        <div class="v41_234"></div>
                        <a href= "./staff_main.html"><span class="v41_233">출석 인증</span></a>
                    </div>
                    <div class="v40_434" onclick="location.href='./staff_lecturelist.html'">
                        <div class="v40_426"></div>
                        <span class="v40_427">인재개발팀</span>
                        <span class="v40_428">이성신(7016)</span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="footer">  <!--학지팀 정보 칸-->
            <span class="v40_413">우편번호 : 02844, 서울특별시 성북구 보문로 34다길 2, 수정관 1층 <br>대학일자리센터>인재개발팀<br>
            TEL : 02-920-7009, 7993(시스템 관련) / 7838(산학협동 인턴십) / 7986(S+마일리지) / 7141, 7016(비교과 프로그램)<br>
            E-MAIL : jobs@sungshin.ac.kr(기업용), hrd@sungshin.ac.kr(학생전용)  FAX : 02-920-7116<br>
            OPYRIGHT©2019 SUNGSHIN WOMEN'S UNIVERSITY. ALL RIGHTS RESERVED.</span>
            <div class="v40_414"></div>
        </div>
        
    </div>
    </body>
</html>