<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=NanumSquare&display=swap" rel="stylesheet" />
        <link href="../CSS/StyleSheet4.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v41_73">
            <div class="v41_206">
                <span class="v41_207">
                    우편번호 : 02844, 서울특별시 성북구 보문로 34다길 2, 수정관 1층 대학일자리센터>인재개발팀<br>
                    TEL : 02-920-7009, 7993(시스템 관련) / 7838(산학협동 인턴십) / 7986(S+마일리지) / 7141, 7016(비교과 프로그램)<br>
                    E-MAIL : jobs@sungshin.ac.kr(기업용), hrd@sungshin.ac.kr(학생전용)  FAX : 02-920-7116<br>
                    COPYRIGHT©2019 SUNGSHIN WOMEN'S UNIVERSITY. ALL RIGHTS RESERVED.
                </span>
                <div class="v41_208"></div>
            </div>

    
            <div class="v41_210">
                <div class= "v41_819">
                    <div class="v41_821">
                        <div class="v41_index1">강의 날짜</div>
                        <div class="v41_index2">강의명</div>
                        <div class="v41_index3">수강 인원</div>
                    </div>
                    <div class= "v41_820">
                        <a href= "./staff_attendance.html"><div class= "lecture">
                            <div class="date">date</div>
                            <div class="lecname">lecture</div>
                            <div class="participants">수강 인원</div>
                        </div></a>
                        <a href= "./staff_attendance.html"><div class= "lecture">
                            <div class="date">date</div>
                            <div class="lecname">lecture</div>
                            <div class="participants">수강 인원</div>
                        </div></a>
                        <a href= "./staff_attendance.html"><div class= "lecture">
                            <div class="date">date</div>
                            <div class="lecname">lecture</div>
                            <div class="participants">수강 인원</div>
                        </div></a>
                        <a href= "./staff_attendance.html"><div class= "lecture">
                            <div class="date">date</div>
                            <div class="lecname">lecture</div>
                            <div class="participants">수강 인원</div>
                        </div></a>
                        <a href= "./staff_attendance.html"><div class= "lecture">
                            <div class="date">date</div>
                            <div class="lecname">lecture</div>
                            <div class="participants">수강 인원</div>
                        </div></a>
                        <a href= "./staff_attendance.html"><div class= "lecture">
                            <div class="date">date</div>
                            <div class="lecname">lecture</div>
                            <div class="participants">수강 인원</div>
                        </div></a>
                        <a href= "./staff_attendance.html"><div class= "lecture">
                            <div class="date">date</div>
                            <div class="lecname">lecture</div>
                            <div class="participants">수강 인원</div>
                        </div></a>
                    </div>
                </div>
            </div>
           
            <div class="v41_229">
                <div class="v41_230">
                    <div class="v41_232"></div>
                    <a href="./staff_lecturelist.html"><span class="v41_231">특강 목록</span></a>
                    <div class="v41_234"></div>
                    <a href= "./staff_main.html"><span class="v41_233">출석 인증</span></a>
                </div>
                <div class="v41_236"><div class="v41_237"></div>
                <span class="v41_238">인재개발팀</span>
                <span class="v41_239">이성신(7016)</span>
                </div>
            </div>
        
        
            <div class="v41_100">
                <span class="v41_101">sunshine 특강 출결 사이트</span>
                <div class="v41_102"></div>
            </div>
        </div>
    </body>
</html>