<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="../CSS/StyleSheet1.css" rel="stylesheet" />
    <script src="../SCRIPT/back_script.js" type="text/javascript"></script>
    <title>Document</title>
  </head>
  <body
    onload="noBack();"
    onpageshow="if(event.persisted) noBack();"
    onunload=""
  >
    <div class="v100_5">
      <div class="v100_6">
        <span class="v100_7">
          우편번호 : 02844, 서울특별시 성북구 보문로 34다길 2, 수정관 1층
          대학일자리센터>인재개발팀<br />
          TEL : 02-920-7009, 7993(시스템 관련) / 7838(산학협동 인턴십) /
          7986(S+마일리지) / 7141, 7016(비교과 프로그램)<br />
          E-MAIL : jobs@sungshin.ac.kr(기업용), hrd@sungshin.ac.kr(학생전용) FAX
          : 02-920-7116<br />
          COPYRIGHT©2019 SUNGSHIN WOMEN'S UNIVERSITY. ALL RIGHTS RESERVED.
        </span>

        <div class="v39_207"></div>
      </div>

      <div class="v112_63">
        <div class="v114_104_1">
          <table class="type01">
            <tr>
              <th>NO.</th>
              <th>강의 날짜</th>
              <th>차시</th>
              <th>강의명</th>
            </tr>
          </table>
        </div>

        <div class="v114_104">
          <table class="type01">
            <!-- <tr>
                        <th>NO.</th>
                        <th>강의 날짜</th>
                        <th>차시</th>
                        <th>강의명</th>
                    </tr> -->

            <tr>
              <td>1</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸2</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸4</td>
              <!--데베연동해서 보여주기-->
            </tr>
            <tr>
              <td>2</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸2</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
            </tr>
            <tr>
              <td>3</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸2</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
            </tr>
            <tr>
              <td>4</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸2</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
            </tr>
            <tr>
              <td>5</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸2</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
            </tr>
            <tr>
              <td>6</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸2</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
            </tr>
            <tr>
              <td>7</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸2</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
            </tr>
            <tr>
              <td>8</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸2</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
            </tr>
            <tr>
              <td>9</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸2</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
            </tr>
            <tr>
              <td>10</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸2</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
            </tr>
            <tr>
              <td>일반칸1</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸2</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
              <td>일반칸3</td>
              <!--데베연동해서 보여주기-->
            </tr>
          </table>
        </div>

        <div class="v114_96">
          <input id="search" type="text" name="search" />
        </div>

        <div class="v114_97">
          <input type="submit" value="검색" />
        </div>
      </div>

      <div class="v112_74">
        <div class="v112_75">
          <div class="v112_76">
            <span class="v118_111_1">이름</span>
            <!--데베연동해서 이름 보여주기-->
            <span class="v118_111_2">(학번)</span>
            <!--데베연동해서 학번 보여주기-->
          </div>

          <div class="v118_112"></div>
        </div>

        <div class="v112_79">
          <div class="v112_82"></div>
          <a href="/student_my"><span class="v118_111">출석 확인</span></a>
        </div>
      </div>

      <div class="v100_29">
        <span class="v100_30">sunshine 특강 출결 사이트</span>
        <a href="/student_main"><div class="v39_228"></div></a>
        <form method="get" action="/logout">
          <div class="logout">
            <input type="submit" value="로그아웃" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
