* {
    box-sizing: border-box;
    
}

body {
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: visible;

}

.v100_5 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    
}

.v100_6 {
    width: 100%;
    height: 174px;
    background: rgba(197,197,197,1);
    opacity: 1;
    position: absolute;
    top: 850px;
    left: 0px;
    
}

.v100_7 {
    width: 100%;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 44px;
    left: 230px;
    font-family: Roboto;
    font-size: 15px;
    opacity: 1;
    text-align: left;
    
}

.v100_9 {
    width: 746px;
    height: 503px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 315px;
    left: 347px;
    overflow: hidden;
}

.v100_10 {
    width: 165px;
    height: 63px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 425px;
    left: 524px;
    overflow: hidden;
}

.v100_11 {
    width: 149px;
    height: 52px;
    position: absolute;
}

    .v100_11 input {
        width: 149px;
        height: 52px;
        background: rgba(154,152,201,1);
        opacity: 1;
        position: absolute;
        top: 4px;
        left: 7px;
        overflow: hidden;
        color: white;
        font-size: 1.2em;
        letter-spacing: 2px;
        border: 1px solid rgba(0,0,0,1)
    }

.v100_13 {
    width: 477px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 429px;
    left: 66px;
    font-family: Roboto;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v100_14 {
    width: 657px;
    opacity: 1;
    position: absolute;
    top: 415px;
    left: 44px;
    border: 1px solid rgba(0,0,0,1);
}

.v100_15 {
    width: 535px;
    height: 82px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 347px;
    left: 113px;
    overflow: hidden;
}

.v100_16 {
    width: 190px;
    height: 30px;
    position: absolute;

}
    .v100_16 input {
        width: 190px;
        height: 30px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 12px;
        left: 156px;
        border: 1px solid rgba(0,0,0,1);
        overflow: hidden;
    }
.v100_16_1 {
    width: 80px;
    height: 50px;
    position: absolute;
    top: 12px;
    left: 376px;
}

    .v100_16_1 input {
        width: 80px;
        height: 50px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        border: 1px solid rgba(0,0,0,1);
        overflow: hidden;
    }
.v100_16_2 {
    width: 149px;
    height: 37px;
    color: rgba(0,0,0,1);
    position: absolute;
    font-family: Roboto;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    top: 13px;
    left: 355px;
}
.v100_17 {
    width: 91px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 12px;
    left: 0px;
    font-family: Roboto;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}

.v100_18 {
    width: 535px;
    height: 82px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 289px;
    left: 113px;
    overflow: hidden;
}

.v100_19 {
    width: 330px;
    height: 35px;
    position: absolute;
}

    .v100_19 input {
        width: 330px;
        height: 35px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 12px;
        left: 156px;
        border: 1px solid rgba(0,0,0,1);
        overflow: hidden;
    }

.v100_20 {
    width: 91px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 12px;
    left: 0px;
    font-family: Roboto;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}

.v100_21 {
    width: 535px;
    height: 82px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 155px;
    left: 113px;
    overflow: hidden;
}

.v100_22 {
    width: 330px;
    height: 35px;
    position: absolute;
}

    .v100_22 input {
        width: 330px;
        height: 35px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 12px;
        left: 156px;
        border: 1px solid rgba(0,0,0,1);
        overflow: hidden;
    }

.v100_23 {
    width: 128px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 4px;
    left: 0px;
    font-family: Roboto;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}
.v100_23_1 {
    
    position: absolute;
    top: 50px;
    left: 156px;
    font-family: Roboto;
    font-size: 10px;
    opacity: 1;
    text-align: left;
}

.v100_32 {
    width: 535px;
    height: 82px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 220px;
    left: 113px;
    overflow: hidden;
}

.v100_33 {
    width: 330px;
    height: 35px;
    position: absolute;
}

    .v100_33 input {
        width: 330px;
        height: 35px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 12px;
        left: 156px;
        border: 1px solid rgba(0,0,0,1);
        overflow: hidden;
    }

.v100_34 {
    width: 194px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 11px;
    font-family: Roboto;
    font-size: 23px;
    opacity: 1;
}
.v100_34_1 {
    position: absolute;
    top: 50px;
    left: 156px;
    font-family: Roboto;
    font-size: 10px;
    opacity: 1;
    text-align: left;
}

.v100_24 {
    width: 535px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 113px;
    overflow: hidden;
}

.v100_25 {
    width: 330px;
    height: 35px;
    position: absolute;
}

    .v100_25 input {
        width: 330px;
        height: 35px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 12px;
        left: 156px;
        border: 1px solid rgba(0,0,0,1);
        overflow: hidden;
    }
.v100_25_1 {
    width: 70px;
    height: 35px;
    position: absolute;
}

    .v100_25_1 input {
        width: 70px;
        height: 35px;
        top: 12px;
        left: 416px;
        background: rgba(196,196,196,1);
        opacity: 1;
        position: absolute;
        border: 1px solid rgba(0,0,0,1);
        overflow: hidden;
    }






.v100_26 {
    width: 91px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}

.v100_27 {
    width: 199px;
    color: rgba(82,82,82,1);
    position: absolute;
    top: 24px;
    left: 274px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 33px;
    opacity: 1;
    text-align: left;
}

.v100_28 {
    width: 657px;
    opacity: 1;
    position: absolute;
    top: 85px;
    left: 51px;
    border: 1px solid rgba(0,0,0,1);
}

.v100_29 {
    width: 100%;
    height: 283px;
    background: rgba(103,92,148,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    
}

.v100_30 {
    width: 541px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 122px;
    left: 450px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 46px;
    opacity: 1;
    text-align: left;
}

.v100_30_1 {
    width: 541px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 230px;
    left: 1250px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}

.v100_30_2 {
    width: 541px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 230px;
    left: 1350px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}
/*회원가입*/


.v39_164 {
    width: 136px;
    height: 133px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 77px;
    overflow: hidden;
}

.v39_248 {
    width: 401px;
    height: 509px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 312px;
    left: 750px;
    overflow: hidden;
}

.v39_168 {
    width: 373px;
    height: 472px;
    background: rgba(198,196,231,1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 14px;
    overflow: hidden;
}

.v39_173 {
    width: 373px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 336px;
    left: 14px;
    font-family: Roboto;
    font-size: 34px;
    opacity: 1;
    text-align: center;
}

.v39_175 {
    width: 174px;
    height: 174px;
    background: url("../images/v39_175.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 119px;
    left: 113px; 
    overflow: hidden;
}

.v39_247 {
    width: 401px;
    height: 509px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 312px;
    left: 350px;
    overflow: hidden;
}

.v39_169 {
    width: 373px;
    height: 472px;
    background: rgba(219,218,242,1);
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 10px;
    overflow: hidden;
    
}

.v39_172 {
    width: 373px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 330px;
    left: 6px;
    font-family: Roboto;
    font-size: 34px;
    opacity: 1;
    text-align: center;
}

.v39_171 {
    width: 194px;
    height: 189px;
    background: url("../images/v39_171.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 113px;
    left: 105px;
    overflow: hidden;
}

.v39_165 {
    width: 100%;
    height: 283px;
    background: rgba(103,92,148,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v39_166 {
    width: 541px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 122px;
    left: 450px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
}

.v39_167 {
    width: 287px;
    height: 109px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 78px;
    left: 115px;
    overflow: hidden;
}
/*메인*/

.v39_207 {
    width: 136px;
    height: 133px;
    background: url("../images/sungshin_logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 77px;
    overflow: hidden;
}

.v39_208 {
    width: 690px;
    height: 441px;
    background: rgba(235,235,235,1);
    opacity: 1;
    position: absolute;
    top: 346px;
    left: 375px;
    overflow: hidden;
}

.v39_209 {
    width: 121px;
    height: 181px;
    position: absolute;
    top: 133px;
    left: 523px;
}

.submit {
    width: 119px;
    height: 178px;
    position: absolute;
}
.submit input {
        width: 119px;
        height: 178px;
        background: rgba(154,152,200,1);
        opacity: 1;
        position: absolute;
        top: 3px;
        left: 1px;
        color: white;
        font-size: 1.2em;
        letter-spacing: 2px;
        border: 1px solid rgba(0,0,0,1)
    }

.v39_212 {
    width: 477px;
    height: 94px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 230px;
    left: 47px;
    overflow: hidden;
}

.v39_215 {
    width: 477px;
    height: 94px;
    position: absolute;
    top: 126px;
    left: 47px;
    overflow: hidden;
}

.input-box {
    width: 437px;
    height: 72px;
    position: absolute;
    overflow: hidden;
}

    .input-box input {
        width: 437px;
        height: 72px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 12px;
        left: 9px;
        border: 1px solid rgba(0,0,0,1);
        overflow: hidden;
    }

.v39_218 {
    width: 149px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 350px;
    left: 479px;
    font-family: Roboto;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v39_219 {
    width: 192px;
    height: 54px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 334px;
    left: 248px;
    overflow: hidden;
}

.v39_221 {
    width: 149px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 16px;
    left: 35px;
    font-family: Roboto;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v39_222 {
    width: 192px;
    height: 54px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 334px;
    left: 56px;
    overflow: hidden;
}

.v39_224 {
    width: 121px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 16px;
    left: 55px;
    font-family: Roboto;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.v39_225 {
    width: 185px;
    color: rgba(82,82,82,1);
    position: absolute;
    top: 25px;
    left: 253px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 64px;
    opacity: 1;
    text-align: left;
}

.v39_228 {
    width: 287px;
    height: 109px;
    background: url("../images/sunshine_logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 78px;
    left: 115px;
    overflow: hidden;
}
/*로그인*/




/*학생 마이페이지*/

.v112_63 {
    width: 100%;
    height: 567px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 283px;
    left: 402px;
   
}

.v114_104 {
    width: 907px;
    height: 400px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 130px;
    left: 70px;
    overflow: auto;
}
.v114_104_1{
    width: 907px;
    opacity: 1;
    position: absolute;
    top: 85px;
    left: 70px;
    
}

.v112_64 {
    width: 907px;
    height: 34px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 83px;
    left: 70px;
    overflow: hidden;
}

.v113_93 {
    width: 215px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 79px;
    left: 224px;
    font-family: Roboto;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v118_109 {
    width: 178px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 79px;
    left: 70px;
    font-family: Roboto;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v114_95 {
    width: 215px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 79px;
    left: 708px;
    font-family: Roboto;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v114_94 {
    width: 113px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 78px;
    left: 517px;
    font-family: Roboto;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v114_96 {
    width: 156px;
    height: 28px;
    position: absolute;
    }

.v114_96 input {
    width: 156px;
    height: 28px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 746px;
    border: 1px solid rgba(0,0,0,1);
}

.v114_97 {
    width: 67px;
    height: 28px;
    position: absolute;
    
}
.v114_97 input{
    width: 67px;
    height: 28px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 902px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
}

.v114_98 {
    width: 84px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 41px;
    left: 893px;
    font-family: Roboto;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v112_74 {
    width: 402px;
    height: 567px;
    background: rgba(219,218,242,1);
    opacity: 1;
    position: absolute;
    top: 283px;
    left: 0px;
    overflow: hidden;
}

.v112_75 {
    width: 321px;
    height: 118px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 42px;
    left: 41px;
    overflow: hidden;
}

.v112_76 {
    width: 321px;
    height: 118px;
    background: rgba(103,92,148,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v118_112 {
    width: 211px;
    height: 49px;
    background: rgba(196,196,196,0);
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 24px;
    overflow: hidden;
}

.v112_79 {
    width: 321px;
    height: 303px;
    background: rgba(103,92,148,1);
    opacity: 1;
    position: absolute;
    top: 197px;
    left: 41px;
    overflow: hidden;
}

.v112_82 {
    width: 275px;
    opacity: 1;
    position: absolute;
    top: 78px;
    left: 23px;
    border: 1px solid rgba(255,255,255,1);
}

.v118_111 {
    width: 199px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 24px;
    left: 61px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 28px;
    opacity: 1;
    text-align: center;
}
.v118_111_1 {
    width: 199px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 20px;
    left: 45px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}
.v118_111_2 {
    width: 199px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 55px;
    left: 40px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}
.v112_86 {
    width: 287px;
    height: 109px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 78px;
    left: 115px;
    overflow: hidden;
}

table.type01 {
    width: 100%;
    border-collapse: collapse;
    
}
    table.type01 th {
        border-bottom: 1px solid #444444;
        background: rgba(197,197,197,1);
        padding: 10px;
       
    }
    table.type01 td {
        border-bottom: 1px solid #444444;
        padding: 10px;
        
    }
  

    
    